<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>User</th>
                <th>Daily Goals</th>
                <th>Weekly Goals</th>
                <th>Verify Goals</th>
                <th>Done Goals</th>
            </tr>
        </thead>
        <tbody>
           
            <tr>
                <td>{{dictionary.user.first_name}}</td>
                <td>{{dictionary.goal_name}} {{dictionary.goal_id}}</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</body>
</html>